    input[type='number'] {
    	-moz-appearance: textfield;
    }
    
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    	-webkit-appearance: none;
    	margin: 0;
    	/* <-- Apparently some margin are still there even though it's hidden */
    }
    
    .login-out-common{
    	width: 114px !important;
    }

    .logout-style {
    	color: #000 !important;
    }
    .page-header {
        height: auto;
    }
    .btn-primary {
        background-color: #000;
    }
    .search-label{
		color: #000 !important;
	}
    .font-red {
        color: #E01C20 !important;
    }
    .center-item{
		text-align: center;
		margin: auto;
    }
    
    .btn.red:not(.btn-outline) {
        color: #fff;
        background-color: #E01C20;
        border-color: #E01C20;
    }
    
    .portlet.light.portlet-fit > .portlet-title {
        padding-right: 51px !important;
        height: 85px !important;
    }

    .journal-block {
        height: 120px !important;
    }

    #chartdiv {
    	width		: 90%;
    	height		: 1000px;
    	font-size	: 11px;
    	margin      : auto;
    	text-align  : center !important;
    }	
    
    .amcharts-chart-div a {
    	display: none !important;
    }
            
	#loading {
	   width: 100%;
	   height: 100%;
	   top: 0;
	   left: 0;
	   position: fixed;
	   display: block;
	   opacity: 0.7;
	   background-color: #fff;
	   z-index: 1059;
	   text-align: center;
	}

	#loading-image {
	  position: relative;
	  top: 35%;
	  /*left: 40%;*/
	  z-index: 1060;
	  margin: auto;
	  text-align: center;
	}
    
	.button-as-link {
	    background:none!important;
	     border:none; 
	     padding:0!important;
	     /*optional*/
	     font-family:arial,sans-serif; /*input has OS specific font-family*/
	     color:#069;
	     text-decoration:underline;
	     cursor:pointer;
	}
	
	#searchTextId {
	    color: #fff;
	    font-weight: bold;
	}
	
	#searchTextId:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color: #616d7d;
	    font-weight: 300;
	}
	#searchTextId::-webkit-input-placeholder { /* WebKit browsers */
	     color: #616d7d;
	     font-weight: 300;
	}
	
	.back-button{
		background: url(../images/back.png)  no-repeat;
		width: 30px !important;
		height: 30px !important;
		float: left;
		margin-right: 10px;
		margin-top: -25px;
		margin-left: -30px;
		background-color: Transparent;
	    background-repeat:no-repeat;
	    border: none;
	    cursor:pointer;
	    overflow: hidden;
	    outline:none;
	}

	.journal-details{
		width:90% !important;
		text-align: center;
		margin: auto;
	}

	.journal-details tbody tr td{
		width:50% !important;
		text-align: left;
		padding: 3px;
		vertical-align: top;
	}

	.approved{

	}
	
	.pending{
		font-style: italic;
		color: #6E6E6E;
	}
	
	.comment-style{
		word-wrap: break-word !important;
        word-break: break-all !important;
	}
	.comment-date{
		font-weight: normal !important;
		color: #E01C20 !important;
		font-size: 70% !important;
	}
	
	.commenter-style{
		background-color: #F8F8E1;
		color: black;
		font-weight: bold;
	}
	
	.comments-table{
	
	}
	
	.comments-table thead tr th {
	    min-width: 100px;
	}
	
	.comments-table tbody tr td div{
	    width: 100%;
	    word-wrap: break-word !important;
	    word-break: break-all !important;
	}
	
	.btn.green:not(.btn-outline) {
	    color: #FFF;
	    background-color: #32C500 !important;
	    border-color: #32C500 !important;
	}
	
	.actions-table tr td{
	    padding: 10px;
	}
	
	.custom-caption {
		overflow: hidden;
		width: 100%;
		height: 70px;
	}
	
	.search-count-class{
		font-size: 15px;
	}
	
	.info, .success, .warning, .error, .validation {
		background-repeat: no-repeat;
		background-position: 10px center;
		font-size: 15px;
	}
	
	.success {
		color: #4F8A10;
	}
	
	.comment-status {
		float: right;
		font-weight: normal;
		color: #E01C20 !important;
	}
	
	.table.table-bordered thead>tr>th {
		background-color: #E5E5E5;
	}
	
	.table-header{
		word-wrap: break-word !important;
        white-space: pre-wrap !important;
        vertical-align: middle !important;
	}
	
	.freq-detail{
		word-wrap: break-word !important;
        white-space: pre-wrap !important;
        display: inline-block;
        width: 80% !important;
	} 
	
	.noUi-handle .noUi-tooltip {
		top: 30px !important;
	}
	
	#execute_adv_search {
		margin-top: 60px !important;
	}
	
@media only screen and (max-width: 1200px) {
	.container-outer { overflow-x: scroll; width: 900px; }
	.container-inner { width: 900px;}
}

@media only screen and (max-width: 1100px) {
	.container-outer { overflow-x: scroll; width: 900px; }
	.container-inner { width: 900px;}
}

@media only screen and (max-width: 1000px) {
	.container-outer { overflow-x: scroll; width: 850px; }
	.container-inner { width: 850px;}
}

@media only screen and (max-width: 900px) {
	.container-outer { overflow-x: scroll; width: 730px; }
	.container-inner { width: 730px;}
}

@media only screen and (max-width: 800px) {
	.container-outer { overflow-x: scroll; width: 630px; }
	.container-inner { width: 630px;}
}

@media only screen and (max-width: 700px) {
	.container-outer { overflow-x: scroll; width: 600px; }
	.container-inner { width: 590px;}
	.journal-details tbody tr td{
		width:100% !important;
	    display: block;
	}
}

@media only screen and (max-width: 600px) {
	.container-outer { overflow-x: scroll; width: 500px; }
	.container-inner { width: 480px;}
}

@media only screen and (max-width: 500px) {
	.container-outer { overflow-x: scroll; width: 400px; }
	.container-inner { width: 500px;}
	}

@media only screen and (max-width: 400px) {
	.container-outer { overflow-x: scroll; width: 300px; }
	.container-inner { width: 500px;}
}

@media only screen and (max-width: 350px) {
	.container-outer { overflow-x: scroll; width: 300px; }
	.container-inner { width: 500px;}
}

@media only screen and (max-width: 300px) {
	.container-outer { overflow-x: scroll; width: 200px; }
	.container-inner { width: 500px;}
}

@media (max-width: 480px){
	.page-header .page-header-top .top-menu .username-hide-mobile {
	    display: block !important;
	}
}

@media only screen and (max-width: 991px) {    
    .page-header .page-header-menu .hor-menu .navbar-nav > li.active > a, .page-header .page-header-menu .hor-menu .navbar-nav > li.active > a:hover, .page-header .page-header-menu .hor-menu .navbar-nav > li.current > a, .page-header .page-header-menu .hor-menu .navbar-nav > li.current > a:hover, .page-header .page-header-menu .hor-menu .navbar-nav > li.open > a, .page-header .page-header-menu .hor-menu .navbar-nav > li.open > a:hover {
    	color: #fff !important;
    	background: #E01C20 !important;
	}

    .page-header .page-header-menu .hor-menu .navbar-nav > li:hover > a {
	    background: 0 0 !important;
	    color: #E01C20 !important;
	}
	
	.page-header .search-form .input-group .input-group-btn .btn.submit.active, .page-header .search-form .input-group .input-group-btn .btn.submit:active, .page-header .search-form .input-group .input-group-btn .btn.submit:focus, .page-header .search-form .input-group .input-group-btn .btn.submit:hover {
	    background: #E01C20;
	}

	.page-header .search-form .input-group .input-group-btn .btn.submit {
	    background: #E01C20;
	}
	
	#searchTextId {
	    color: #000;
	    font-weight: bold;
	}

	.comment-status {
		float: right;
		font-weight: normal;
		color: #E01C20 !important;
		font-size: 70% !important;
	}
}

.rating {
    display: inline !important;
	float: right !important;
	margin-top: 45px !important;
	padding-top: 0px !important;
	margin-right: 8px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
	display: none;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: gold;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

