.table>thead>tr>th {
    background-color: #d0edce;
}
.multiselect {
    width:20em;
    height:7em;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#000;
    background-color:#d0edce;
}

.mt-element-step .step-thin .hover{
	background-color:#d0edce;
}

._1ci {
    height: 48px;
    width: 80px;
    margin-right:2%
}
._1ci_panel {
    margin-right:2%;
}

._1ci_space {
    margin-right:2%;
    width: 7%;
}

img {
    border: 0;
}

.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.validate{
	display: none; color:red;
}
.outer {
  position:relative
}